model:
  name: 'osnet_x1_5'
  pretrained: True

data:
  type: 'image'
  sources: ['reid-blackai-format']
  targets: ['reid-blackai-format']
  height: 384
  width: 128
  combineall: False
  transforms: ['random_flip']
  save_dir: 'log/osnet_x1_0_market1501_softmax'

loss:
  name: 'softmax'
  softmax:
    label_smooth: True

train:
#  optim: 'sgd'
#  lr: 0.065
#  max_epoch: 350
#  batch_size: 64
#  fixbase_epoch: 10
#  open_layers: ['classifier']
#  lr_scheduler: 'single_step'
#  stepsize: [150, 225, 300]
  optim: 'amsgrad'
  lr: 0.0015
  max_epoch: 150
  batch_size: 64
  fixbase_epoch: 10
  open_layers: ['classifier']
  lr_scheduler: 'single_step'
  stepsize: [60]

test:
  batch_size: 64
  dist_metric: 'euclidean'
  normalize_feature: False
  evaluate: False
  eval_freq: 10
  rerank: False